@media(max-width:1200px) {
    .inicio, .pilar, .dicas {
        flex-direction: column-reverse;
        align-items: center;
        /* padding: 40px 20px 200px 20px; */
        text-align: center;
    }

    .article-inicio {
        margin-left: 0;
    }

    .article-inicio h1 {
        margin: 10px;
    }

    .article-inicio p{
        margin-left: 20px;
    }

    .img-inicio, .img-pilar {
        right: 0;
        bottom: 0;
        max-width: 50%;
        margin-bottom: 30px;
    }
    .img-informacoes{
        right: 0;
        bottom: 0;
        max-width: 50%;
        margin-bottom: 30px;
    }

    .buttons-home {
        justify-content: center;
    }
    .informacoes{
        
        flex-direction: column-reverse;
        align-items: center;
        /* padding: 40px 20px 200px 20px; */
        text-align: center;
    }
    .texto, .dicas{
        margin-right:calc(2%);
        margin-left:calc(2%) ;
    }

   
    .article-pilar {
        margin-top: 0px;
    }
    
    .dicas{
        margin-left: 20%;
        
    }

    .article-dicas{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
     
}

@media(max-width:991px) {
    .inicio, .pilar {
        margin-left: 10%;
        margin-right: 10%;
    }

    .article-inicio {
        min-width: 400px;
    }

    .article-2{
       
        margin-left: 0%;
      }
}

@media(max-width:850px) {
    .img-inicio, .img-pilar {
        max-width: 70%;
    }

    .img-informacoes{
        max-width: 70%;
    }
}

@media(max-width:600px) {
    html {
        font-size: 80%;
    }

    
}

@media(max-width: 470px) {
  
    .btns-project {
        margin-top: 30px;
        flex-wrap: wrap;
    }
    

    
}


