/* reset CSS */
*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow-x: hidden !important;
}
:root{
    /* trabalhando com variaveis no CSS */
    --corDetalhe: rgb(57, 255, 20);
    --color-text: rgb(23, 22, 22);
    --background-color:#fff;
}

.dark-mode:root{
    --corDetalhe: rgb(57, 255, 20);
    --color-text: rgb(233, 230, 230);
    --background-color:rgb(41, 41, 47);
}

/* scroll */
::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background-color: #f1eded;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--corDetalhe);
    border-radius: 10px;
}

.switch {
    display: flex;
    cursor: pointer;
}

.switch .switch-text{
    padding-right: 0.3rem; 
}

.switch .switch-wrapper {
    display: inline-block;
    width: 50px;
    height: 20px;
    position: relative;
}

.switch .switch-wrapper .switch-button {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #475569;
}

.switch .switch-wrapper input{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .switch-wrapper  .switch-button::before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: aliceblue;
}

.switch .switch-wrapper input:checked + .switch-button{
    background-color: #68a721;
}

.switch .switch-wrapper input:checked + .switch-button::before{
    transform: translateX(28px);
}

label{
    cursor: pointer;
    color: rgb(233, 230, 230);
}

body{
    background-color:var(--background-color);
    color:var(--color-text);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif; 
}

/* seção início */
.inicio, .pilar {
    display: flex;
    padding: 140px 40px 70px 40px;
}

.article-inicio {
    width: 70%;
    margin-top: 10%;
    margin-left: 4%;
}

.span-inicio {
    display: block;
    font-size: 1.8rem;
    color: var(--color-text);
}

.article-inicio h1{
    font-size:3.2rem;
    font-weight: 700;
    color:var(--color-text);
}

.article-inicio h1 span {
    color: red;
}

.article-inicio p {
    font-size: 1.6rem;
    color: var(--color-text);
}

.buttons-home {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-planilha-download {
    display: block;
    max-width: 400px;
    padding: 15px;
    border: 1px solid var(--corDetalhe);
    border-radius: 6px;
    color:var(--corDetalhe);
    text-decoration: none;
    font-weight: 100;
    font-size: 1.6rem;
    transition: 0.3s;
    outline: none;
}

.btn-planilha-download:hover {
    background-color:var(--background-color);
    color:var(--corDetalhe);
}

.btn-planilha-download i{
    padding-right: 5px;
}

.img-inicio, .img-pilar {
    position: flex;
    bottom: 40px;
    right: 80px;
    max-width: 40%;
    animation: moveUndraw 3.7s infinite alternate-reverse linear;
}

.img-inicio2 {
    display: inline-block;
    position:relative;
    bottom: 40px;
    right: 80px;
    max-width: 25%;
    margin-left: 4%;
    animation: moveUndraw 3.7s infinite alternate-reverse linear;
}

.detalhe {
    color: var(--corDetalhe);
}

.img-informacoes{
    display: inline-block;
    position:relative;
    max-width: 23%;
    margin-left: 4%;
    padding: 70px 40px;
}

.texto {
    margin-top:2% ;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: var(--corDetalhe);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin-right:calc(5%);
    margin-left:calc(20%);
}

.article-informacoes {
    padding: 70px 40px;
}

.informacoes{
    display: flex;
    align-items: center;
}

.copy{
    background-color: #232325;
    color: #f1eded;
    text-align: center;
}

.article-pilar {
    margin-top: 10%;
}

.itens:before {
    content: "★";
}

li {
    list-style: none;
}

.dicas{
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: var(--corDetalhe);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 4%;
}

section .dicas{
    display: inline-block;
     align-items: center;
}

.article-dicas{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.voltar-inicio{
    max-width:70px;
    max-height: 28px;
    padding-top: 12px;
}

.volta{
    color: #68a721;
}